# Variables

To store something in a programming lanaguge we use variables

In [14]:
a = 12
# 12 will get stored into ram and a will hold the address of 12

In [16]:
a # this will print only because of notebook

12

In [18]:
print() # it is a function that shows the value of a varible or just output the value

In [19]:
print(a)

12

In [20]:
print(12)

12

# Comments and multiline comments

In [ ]:
# Comment starts with hash symbol --> #, also called as single line comment

# below is multi line comment or also used as doc string
"""
This is Ultimate data science batch v2.0.
In this class we are learning python variable
This is Ultimate data science batch v2.0.
In this class we are learning python variable
This is Ultimate data science batch v2.0.
In this class we are learning python variable
"""

'''
This is Ultimate data science batch v2.0.
In this class we are learning python variable
This is Ultimate data science batch v2.0.
In this class we are learning python variable
This is Ultimate data science batch v2.0.
In this class we are learning python variable
'''

'\nThis is Ultimate data science batch v2.0.\nIn this class we are learning python variable\nThis is Ultimate data science batch v2.0.\nIn this class we are learning python variable\nThis is Ultimate data science batch v2.0.\nIn this class we are learning python variable\n'

# Address of variable

In [22]:
a = 12
print(id(a))

140726937447192

# Data types

In [26]:
a = 10
type(a)

int

In [27]:
a = 10.0
type(a)

float

In [28]:
b = "data science"
type(b)

str

In [29]:
c = "d"
type(c)

str

# Naming convention

- variable names can only contain letters, digits and underscore (_)
    - bmi, person0, person_1, _person, id_1
- it should not start with a digit 
- variable names are case sensitive : hello, Hello, heLlo
- avoid using python keywords : type, print, id, if, else, for

# Flow of python

In python, execution happens from top to bottom and right to left

in case of paranthesis, from inner brackets to outer

In [31]:
mentor_name = 'Monal' # 1
# mentor_name = "Monal"
print(mentor_name) # 2
value_1 = 100 # 3
print(500) # 4
value_2 = 200 # 5
print(value_1) # 6

Monal
500
100

# Few more data types

In [36]:
# boolean or bool
# stores True or False

is_visible = False
is_visible = True

In [35]:
type(is_visible)

str

# Type casting

If we have int and we want to make it float, we use type casting

In [38]:
a = 1
type(a)

int

In [ ]:
a = float(a)

1.0

In [43]:
a = 1
id(a)

140726937446840

In [44]:
a = 1.0
id(a)

1770668000688

In [45]:
type(a)

float

In [47]:
a = str(a)
print(a)
print(type(a))

1.0
<class 'str'>

In [49]:
print("monal")

monal

In [50]:
pi = 3.14
pi_int = int(pi)
print(pi_int)
print(type(pi_int))

3
<class 'int'>

In [52]:
bool_1 = False
bool_int = int(bool_1)
print(bool_int)
print(type(bool_int))

0
<class 'int'>

# Operators - 1

In [53]:
# arithmetic operators

In [54]:
2 + 2

4

In [ ]:
a = 2
b = 2
c = a + b

4

In [57]:
a = 2
c = a + 2
print(c)

4

In [58]:
2 + "data science"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# ignore the code
for i in range(1,20):
    print(i)
    if i == 10:
        print("="*10)

1
2
3
4
5
6
7
8
9
10
==========
11
12
13
14
15
16
17
18
19

In [62]:
2 + 2.0

4.0

In [64]:
100 - 2

98

In [63]:
# modulos operator

11 % 2

1

In [ ]:
11 / 2 # division

5.5

In [68]:
11 // 2 # floor division

5

In [67]:
22/7

3.142857142857143