# String operations

In [19]:
name = "Monal S   "

In [20]:
# strip()
name = name.strip() # it removes spaces from right and left side of the string
name

'Monal S'

In [21]:
# rstrip()
name = "   Monal S   "
# print(name.rstrip())
name.rstrip()

'   Monal S'

In [22]:
# lstrip()
name = "   Monal S   "
name.lstrip()

'Monal S   '

In [23]:
# remove space from both side without using strip()
name = "   Monal S   "
name = name.lstrip()
name = name.rstrip()
name

'Monal S'

In [24]:
name = "   Monal S   "
name = name.lstrip().rstrip()
name

'Monal S'

In [ ]:
name = "   Monal S   "
name = name.rstrip().lstrip()
name

# Operators

#### Relational operators

In [25]:
a = 100
b = 200

In [29]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True
False
True

In [30]:
a = "Data"
b = "Data "

print(a == b)

False

In [31]:
id_ = 123
password = "helloworld"

print(id_ == 100)
print(password == 'krishnaikacademy')

False
False

In [34]:
age_threshold = 18

person_1_age = 18

print(person_1_age >= age_threshold)

True

#### Assignment operator

In [51]:
a = 2
print(a)

2

In [52]:
a += 1 # a = a+1
print(a)

3

In [53]:
a -= 1 # a = a-1
print(a)

2

In [54]:
a *= 2 # a = a*2
print(a)

4

In [55]:
a /= 2 # a = a/2
print(a)

2.0

In [56]:
a / 0.3

6.666666666666667

In [57]:
a //= 0.3 # a = a//2
print(a)

6.0

# Logical Operators

In [58]:
bool_a = True
bool_b = False

In [59]:
bool_a and bool_b

False

In [60]:
bool_a or bool_b

True

In [61]:
not bool_b

True

In [62]:
not bool_a

False

In [ ]:
# Club entry conditions
# - person should be over 18 or equal
# - person should have atleast 500 INR to enter in club

person_age = 20
person_threshold = 18

min_balance = 500
person_balance = 600

print((person_age >= person_threshold) and (person_balance >= min_balance))

True

#### bitwise operators

In [65]:
a = 3
b = 1

print(a & b)

1

In [66]:
print(a | b)

3

In [67]:
print(~a)

-4

In [68]:
print(a ^ b)

2

In [69]:
a = 30
bin(a)

'0b11110'

#### Conditional Statements or Control flow

In [71]:
# we want to give access to batch 1 recording to people who buy batch 2

current_batch = 3

if current_batch==2:
    print("Access to UDS batch 1.0 also provided")
else:
    print("You only have access to UDS batch 1.0")

You only have access to UDS batch 1.0

In [72]:
# we want to give access to batch 1 recording to people who buy batch 2

current_batch = 3

if current_batch==2:
    print("Access to UDS batch 1.0 also provided")

a = 2
b = 2
print(a+b)

4

In [ ]:
# we want to give access to batch 1 recording to people who buy batch 2

current_batch = 3

if current_batch == 2:
    print("hello")
else:
    print("Access to UDS batch 1.0 also provided")

a = 2
b = 2
print(a+b)

In [75]:
if True:
    print("hello")

hello

#### if-elif-else

In [80]:
operation_name = "divide"

# contorl flow start
if operation_name == "add":
    print("Perform addition")
elif operation_name == "substract":
    print("Perform substraction")
elif operation_name == "divide":
    print("Perform division")
else:
    print("No selected operation name found.")
# contorl flow end

Perform division

In [82]:
operation_name = "add"

# contorl flow start
if operation_name == "add":
    print("Perform addition")
# contorl flow end

# contorl flow start
if operation_name == "add":
    print("Perform addition")
elif operation_name == "substract":
    print("Perform substraction")
elif operation_name == "divide":
    print("Perform division")
else:
    print("No selected operation name found.")
# contorl flow end

Perform addition

In [83]:
age = 19
batch = 2.0
session_number = 4

# contorl flow start
if age > 19:
    print("19")
# contorl flow end

# contorl flow start
if batch >1.0:
    print("gives access to v1.0")
# contorl flow end

# contorl flow start
if session_number > 1:
    print("Induction class ended")
# contorl flow end

gives access to v1.0
Induction class ended

# More data types

In [84]:
id_people = [100, 101, 102, 103, 104, 105]

In [85]:
print(id_people)

[100, 101, 102, 103, 104, 105]

In [86]:
people = [101, 100, 102, "A", "b", 37.4, True]

In [87]:
print(people)

[101, 100, 102, 'A', 'b', 37.4, True]

In [89]:
print(type(people))

<class 'list'>

In [90]:
people.append("Data science")

In [91]:
print(people)

[101, 100, 102, 'A', 'b', 37.4, True, 'Data science']

In [97]:
register = []
print(type(register))

<class 'list'>

In [96]:
# name = ""
# print(name)
# print(type(name))

In [98]:
register.append(["monal", 101, "+911234567890", "visit"])

In [ ]:
# a = ["monal", 101, "+911234567890", "visit"]
# register.append(a)

In [99]:
print(register)

[['monal', 101, '+911234567890', 'visit']]

In [100]:
register.append(["pradeep", 101, "+911234567890", "visit"])

In [101]:
print(register)

[['monal', 101, '+911234567890', 'visit'], ['pradeep', 101, '+911234567890', 'visit']]

### experimentation on list

In [115]:
dummy = []

In [117]:
print(dummy)

[]

In [114]:
dummy.append([1,2,3,4,"hello", "monal", 101]) 
# append is a method of list

In [116]:
len(dummy) # function

0