# String methods

In [ ]:
str_value_1 = "Data Science"

In [10]:
print(str_value_1.upper())

DATA SCIENCE

In [8]:
# str_value_1 = str_value_1.upper()

In [11]:
print(str_value_1.lower())

data science

In [12]:
str_title = "data science is fun"

In [13]:
print(str_title.title())

Data Science Is Fun

In [14]:
print(str_title.capitalize())

Data science is fun

In [15]:
str_value_2 = "hELLO"

In [16]:
print(str_value_2.swapcase())

Hello

Usage example : 
- asdfghj@gmail.com
- Asdfghj@gmail.com
- ASDFGHJ@gmail.com

All are same email.


Convert to standard format
.lower()
.upper()

In [17]:
str_value_3 = "    Data   "

In [18]:
print(str_value_3.strip())

Data

In [35]:
str_value_3 = "monal,12/01/1870,123456789,email@gmail.com"

In [ ]:
user_list = str_value_3.split(",")

In [37]:
user_list

['monal', '12/01/1870', '123456789', 'email@gmail.com']

In [40]:
# "monal,12/01/1870,123456789,email@gmail.com"
str_value_3.find("z")
# if -1, means character is not present in the string

-1

In [42]:
# "monal,12/01/1870,123456789,email@gmail.com"
str_value_3.find("12")

6

In [47]:
words = ["name", "place", "phone_numer", "yes"]

In [45]:
"name" + "place" # concatenation
# 1 + 1 # addition

'nameplace'

In [48]:
# assignement
final_word = ""
for i in words:
    final_word+=i
print(final_word)

nameplacephone_numeryes

In [49]:
words

['name', 'place', 'phone_numer', 'yes']

In [58]:
final_word_output = " ".join(words)

In [59]:
final_word_output

'name place phone_numer yes'

In [65]:
print("name", "place", "phone.no", sep=",") # not same as join, only used for visualization

name,place,phone.no

# While loop

In [73]:
# until user write hello, we will keep on taking input from user and print it
user_input = ""
while user_input!="hello":
    print(user_input)
    user_input = input("Enter your input")
print("after while loop")

he
hell
rahul
monal
RK
after while loop

# control flow

In [74]:
names = ["Sudharshan", "Praveen", "Abhijeet", "monal","Sandeep"]

In [76]:
for name in names:
    if name == 'monal':
        continue
    name = name.capitalize()
    name = name.upper()
    print(name)

SUDHARSHAN
PRAVEEN
ABHIJEET
SANDEEP

In [77]:
for name in names:
    if name == 'monal':
        break
    name = name.capitalize()
    name = name.upper()
    print(name)

SUDHARSHAN
PRAVEEN
ABHIJEET

In [83]:
count = 0
print("Start")
while True: # infinite
    if count>100 :
        break # control to exit based on condition
    print(count)
    count+=1
print("END")

Start
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
END

In [85]:
# Assignment
for i in range(1,11):
    print(i)
    for name in names:
        if name in ['Praveen', 'Abhijeet', 'monal', 'Sandeep']:
            break
        print(name)

1
Sudharshan
2
Sudharshan
3
Sudharshan
4
Sudharshan
5
Sudharshan
6
Sudharshan
7
Sudharshan
8
Sudharshan
9
Sudharshan
10
Sudharshan

# Function

In [86]:
# i want to take 2 different numerical input from user and add them and print them.

In [87]:
num_1 = float(input("Enter first number : "))
num_2 = float(input("Enter second number : "))

sum_of_num = num_1 + num_2

print(sum_of_num)

22.6

In [ ]:
# function definition
def add_two_numbers():
    num_1 = float(input("Enter first number : "))
    num_2 = float(input("Enter second number : "))

    sum_of_num = num_1 + num_2

    print(sum_of_num)

In [91]:
add_two_numbers()

201.23456

In [92]:
add_two_numbers()

1246.234

In [93]:
def dummy_add_two_numbers():
    num_1 = 2
    num_2 = 10

    sum_of_num = num_1 + num_2

    print(sum_of_num)

In [94]:
dummy_add_two_numbers()

12

In [95]:
dummy_add_two_numbers()

12

In [104]:
def our_custom_string_cleaner():
    base_string = input("Enter any text : ")
    new_base_string = base_string.strip().lower()
    # print(new_base_string)

In [99]:
our_custom_string_cleaner() # '     HeLLO GHHHJJJJSJSJ MAIL.com'

hello ghhhjjjjsjsj mail.com

In [100]:
count = 0
while count < 5: # 0,1,2,3,4 --> 5 times
    our_custom_string_cleaner()
    count+=1

fsdshjjj
313sdffff
fff
fdfff
ggfdccd

In [120]:
def our_custom_string_cleaner_v2():
    base_string = input("Enter any text : ")
    new_base_string = base_string.strip().lower()
    # print(new_base_string)
    return new_base_string

In [118]:
cleaned_version = our_custom_string_cleaner() # 'GJKKHHD     '
print(cleaned_version)

None

In [121]:
cleaned_version_v2 = our_custom_string_cleaner_v2() # 'GJKKHHD     '
print(cleaned_version_v2)

gjkjkdkswdhi

In [ ]:
def add_two_numbers_v2():
    num_1 = float(input("Enter first number : "))
    num_2 = float(input("Enter second number : "))

    sum_of_num = num_1 + num_2

    return sum_of_num 
    # print(sum_of_num)

In [127]:
sum_of_addition = add_two_numbers_v2()

In [128]:
sum_of_addition

135.3

In [129]:
add_two_numbers_v2() + add_two_numbers_v2()

7.0

In [ ]:
def add_two_numbers_v2():
    num_1 = float(input("Enter first number : "))
    num_2 = float(input("Enter second number : "))

    sum_of_num = num_1 + num_2

In [ ]:
num_1 = float(input("Enter first number : "))
num_2 = float(input("Enter second number : "))

sum_of_num = num_1 + num_2

In [133]:
def add_dummy():
    name = input("Enter your name : ")
    print("hello", name, ", Greeting from krish naik academy.")

In [135]:
return_value = add_dummy()
print(return_value)

hello monal , Greeting from krish naik academy.
None

In [ ]:
# Nothing --> NA, NAN, NONE

In [140]:
def add(a,b):
    return a+b

In [141]:
answer = add(1,2)
print(answer)

3

In [142]:
answer = add(1010101,2)
print(answer)

1010103

In [143]:
answer = add(1010101,29.5)
print(answer)

1010130.5

In [144]:
answer = add("hello","world")
print(answer)

helloworld

In [145]:
print(add(1,2,3))

TypeError: add() takes 2 positional arguments but 3 were given

In [146]:
print(add(1))

TypeError: add() missing 1 required positional argument: 'b'

In [ ]:
def add(a=0,b=0):
    print(a+b)

In [152]:
add()

0

In [153]:
add(100)

100

In [154]:
add(100,100)

200

In [ ]:
# Assignment

def add(a,b):
    print(a+b)

def substract(a,b):
    print(a-b)

def divide(a,b):
    print(a//b)

def multiply(a,b):
    print(a*b)

def calculator():
    choice = int(input("Enter 1 for add, 2 for subtract, 3 for divide, 4 for multiple : "))

    value_1 = float(input("Enter first value : "))
    value_2 = float(input("Enter Second value : "))

    if choice == 1:
        add(value_1, value_2)
    elif choice == 2:
        substract(value_1, value_2)
    elif choice == 3:
        divide(value_1, value_2)
    elif choice == 4:
        multiply(value_1, value_2)
    else:
        print("Please choose the correct option")

In [ ]:
calculator()