# OOP Intro

### procedural Programming

- Simple bank account system

In [3]:
user_name = "Gaurav"
user_balance = 1000

def withdraw(balance, amount):
    return balance - amount

In [4]:
user_balance = withdraw(user_balance, 200)
print(user_name,"has :",user_balance)

Gaurav has : 800

# Add complexity

In [5]:
user1_name = "Firoz"
user1_balance = 10000

user2_name = "Abhinav"
user2_balance = 20000

user1_balance = withdraw(user1_balance, 2000)
user2_balance = withdraw(user2_balance, 20000)

In [6]:
print(user1_name,"has :",user1_balance)
print(user2_name,"has :",user2_balance)

Firoz has : 8000
Abhinav has : 0

What if we have 100 users?
- 100 name variable
- 100 balance variable
- total 200 variable

# The quick fix

In [ ]:
# list --> 2
# list --> list inside list [["name", 'balance']] -> 1
# dict -> 1

user1_name = "Firoz"
user1_balance = 10000

user2_name = "Abhinav"
user2_balance = 20000

In [9]:
users = { "Gaurav" : 10000,
         "Firoz" : 10000,
         "Abhinav" : 20000
        }

In [12]:
users["Indrajit"] = 30000

In [13]:
users

{'Gaurav': 10000, 'Firoz': 10000, 'Abhinav': 20000, 'Indrajit': 30000}

In [14]:
users["Gaurav"] = 40000

In [15]:
users

{'Gaurav': 40000, 'Firoz': 10000, 'Abhinav': 20000, 'Indrajit': 30000}

In [ ]:
def withdraw(name, amount):
    users[name] -= amount
    # users[name] = users[name] - amount
    print(name,"has :",users[name])

In [23]:
withdraw("Gaurav", 1000)

Gaurav has : 35000

# The problem
- The data and function is seperated
- The data is 'naked' means developer could accidently change the variable value
- The function 'withdraw' exits, but there is nothinhg that forces to use a particular data.

In [26]:
def withdraw(name, amount):
    users[name] -= amount
    # users[name] = users[name] - amount
    print(name,"has :",users[name])


users = {"monal" : 100000}

In [27]:
withdraw("monal", 1000)

monal has : 99000

# OOPs

In [29]:
print(type(1))

<class 'int'>

In [30]:
# User-define data structure

In [31]:
class OurBankAccount:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient Balance")
        else :
            self.balance -= amount
        print(self.name,"withdrew :",amount,". New balance:", self.balance)

In [32]:
user_1 = OurBankAccount("Monal", 10000)

In [37]:
user_1.withdraw(10000)

Insufficient Balance
Monal withdrew : 10000 . New balance: 9000

In [36]:
print(type(user_1))

<class '__main__.OurBankAccount'>

In [39]:
user_2 = OurBankAccount("deb", 10000)

In [40]:
user_2.withdraw(10000)

deb withdrew : 10000 . New balance: 0

# creating our own class

In [ ]:
# blue print
class Robot:
    # init or constructor is a special function that runs when you create object from class(blueprint)
    # init is optional
    # used to initialise or declare variables
    def __init__(a):
        print("Hello, welcome to robot!.")
        a.value_1 = 100
    
    def walk(a):
        print("Walking 10 meters.")
        print(a.value_1)
    
    def sing(a):
        print("Singing a song.")
        print(a.value_1)

In [62]:
a = Robot() # returns object

Hello, welcome to robot!.

In [63]:
id(a)

2745330804896

In [64]:
a.walk()

Walking 10 meters.
100

In [65]:
a.sing()

Singing a song.
100

In [66]:
a.value_1

100

In [ ]:
a

In [68]:
# function inside a class is called as : method
# function outside a class is called as : function
# to call a proptery of a class object, we need to use "."

In [83]:
# blue print
class Robot:
    def __init__(self, customer_name=None):
        print("Hello, welcome to robot!.")
        self.name = "chitti"
        self.ram_in_gb = 10
        self.version = "0.0.1"
        print(customer_name)
        # self.customer_name = customer_name
    
    def config(self):
        print("Ram :", self.ram_in_gb)
        print("version :", self.version)
        print("Robot name :", self.name)
    
    def customer_details(self):
        print("Customer Name :", self.customer_name)

In [71]:
r1 = Robot("monal")

Hello, welcome to robot!.

In [72]:
r1.config()

Ram : 10
version : 0.0.1
Robot name : chitti

In [73]:
r1.customer_details()

Customer Name : monal

In [74]:
r2 = Robot("Nikhil")

Hello, welcome to robot!.

In [76]:
r2.config()

Ram : 10
version : 0.0.1
Robot name : chitti

In [75]:
r2.customer_details()

Customer Name : Nikhil

In [77]:
d1 = Robot("abc")
d2 = Robot("abc")

print(id(d1), id(d2))

Hello, welcome to robot!.
Hello, welcome to robot!.
2745331188416 2745331195088

In [78]:
a = [1,2,3]

In [79]:
a.append(123)

In [80]:
print(a)

[1, 2, 3, 123]

In [84]:
Robot()

Hello, welcome to robot!.
None

In [ ]:
# Assignment

# Create a ultimate data science batch class and it should have following properites
# Each batch will have its own instance
# One batch should have only one instance
# We should be able to add multiple students in a single batch along with their details
# we should be able to print all the student names of that batch